/*Fuentes*/

$fuente-body: "Montserrat", sans-serif;
$fuente-titulos: "Bebas Neue", cursive;
$fuente-marca: "Antic Didone", serif;

/*Estilos generales*/

body {
  margin: 0%;
  padding: 0%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $fuente-titulos;
}

.page-section {
  padding-top: 5em;
  padding-bottom: 2em;
}


