/*Fuentes*/

$fuente-body: "Montserrat", sans-serif;
$fuente-titulos: "Bebas Neue", cursive;
$fuente-marca: "Antic Didone", serif;

/*Estilos generales*/

body {
  margin: 0%;
  padding: 0%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $fuente-titulos;
}

.page-section {
  padding-top: 5em;
  padding-bottom: 2em;
}


.btn-primary:focus {
  box-shadow:0 0 0 0.2rem #ff9671;
  border-color: #df5b2b;
  border-radius: 0%;
}

.btn-primary:hover {
  box-shadow:0 0 0 0.2rem #ff9671;
  border-color:  #ff9671;
}
