$fuente-body: "Lato", sans-serif;
$fuente-millas: "Cookie", cursive;

html {
    font-family: $fuente-body;
}

body {
    margin: 0;
}

.page-section {
    padding: 6rem 0;

    h2.section-heading {
        font-size: 2rem;
        margin-top: 0;
        margin-bottom: 1rem;
    }

    h3.section-subheading {
        font-size: 1rem;
        font-weight: 400;
        font-family: $fuente-body;
        margin-bottom: 4rem;
    }
}
.btn-primary {
    color: white;
    background-color: rgb(149, 200, 233);
    border-color: transparent;
    align-items: center;
    font-family: $fuente-body;
    font-size: 1rem;
}

.btn-primary:hover {
    color: 0 0 0 0.25rem rgb(149, 200, 233);
    background-color: black;
    border-color: transparent;
}
