section#contact {
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;

    
    form#contactForm {
        .form-group {
            
            input,
            textarea {
                padding: 1.25rem;
            }

            input.form-control {
                height: auto;
            }
        }

        .form-group-textarea {
            height: 100%;

            textarea {
                height: 100%;
                min-height: 10rem;
            }
        }

        p.help-block {
            margin: 0;
        }

    }
}