.destino-centertexto {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 8rem;
    padding-bottom: 3rem;

    .section-subheading {
        font-size: 1rem;
        font-weight: 400;
        font-family: $fuente-body;
        margin-bottom: 2rem;
    }
}

#contenedor-productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 4rem;

    .card {
        margin: 1rem;

        .card-img-top {
            width: 100%;
            transition: 0.5s;
        }
        .card-img-top:hover {
            opacity: 0.5;
            transform: translateY(-1%); /*100%*/
        }
    }
}
