#destinos {
    #contenedor-productos {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .card {
            margin: 1.5em;

            .card-img-top {
                height: 13em;
                width: 100%;
                transition: 0.5s;
            }
            .card-img-top:hover {
                opacity: 0.5;
                transform: translateY(-1%); /*100%*/
            }

            .card-body {
                padding: 0.5em;

                h3 {
                    text-align: center;
                    font-family: $fuente-marca;
                    font-size: 1.5em;
                    border-bottom: solid 1px rgba(0, 0, 0, 0.5);
                    padding: 0.3em 0.5em;
                }
                .texto-card {
                    display: flex;
                    justify-content: space-between;

                    p {
                        font-family: $fuente-body;
                        font-size: 1em;
                        font-weight: bold;
                        color: #000000;
                        padding-right: 1em;
                        padding-left: 1em;
                    }
                }
            }

            .contenedorBoton {
                display: flex;
                justify-content: center;

                .botonComprar {
                    width: 100%;
                    height: 45px;
                    font-size: 1.2em;
                    cursor: pointer;
                    border: none;
                    outline: none;
                    background: transparent;
                    color: #000000;
                    font-family: $fuente-titulos;
                    position: relative;
                    transition: all 0.5s;
                    z-index: 1;
                }

                .botonComprar::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 5px;
                    height: 100%;
                    background-color: #ff9671;
                    z-index: -1;
                    transition: all 0.5s;
                }

                .botonComprar:hover::before {
                    width: 100%;
                }

                .botonComprar:hover {
                    color: black;
                }

                .botonComprar:active:before {
                    background: #ff9671;
                }
            }
        }
    }
}
