.destino-centertexto {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 8rem;
    padding-bottom: 4rem;

    .section-subheading {
        font-size: 1rem;
        font-weight: 400;
        font-family: $fuente-body;
        margin-bottom: 2rem;
    }
}

#contenedor-productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 4rem;

    .card {
        margin: 1rem;
        border-radius: 1px;

        .card-body {
            font-family: $fuente-body;
        }
    }
    #btnAgregar {
        background-color: #a184a4 !important;
    }
}
