.footer {
    display: flex;
    flex-direction: column;
    color: white;
    background-color:black;
    text-align: center;
    font-size: 1rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    
}