.header {
    margin: 0;
    .navbar {
        height: 6em;

        .navbar-brand {
            img {
                max-width: 170px;
                max-height: 127px;
                border-radius: 100%;
                position: relative;
                z-index: 100;
                top: 0.9em;
            }
        }

        .collapse {
            display: flex;
            justify-content: flex-end;

            .navbar-nav {
                font-family: $fuente-body;
                font-size: 1em;
            }

            .nav-item {
                padding-right: 2em;
            }
        }

        #boton-carrito {
            background-color: #ff9671;
            padding: 0.5em;
            border-radius: 100%;
            border: transparent;

            a {
                color: #000000;
                font-family: $fuente-body;
                font-size: 1em;
            }
        }
    }
}
