#mainNav {
    .titulo {
        padding-top: 1rem;
        padding-bottom: 1rem;

        h1 {
            font-family: $fuente-millas;
            font-style: bold;
            font-size: 1.95rem;
            color: black;
        }
    }
    .nav-link {
        color: black;
        font-family: $fuente-body;
        font-size: 1.25em;
        font-weight: bold;
        min-height: 50px;
        transition: all 0.2s;
    }

    .nav-link:hover {
        color: rgb(66, 102, 126);
    }

    #boton-carrito {
        background: none;
        border-color: transparent;

        a {
            text-decoration: none;
            color: black;
        }
    }
}

.menu-fixed {
    position: fixed;
    z-index: 1000;
    height: 5rem;
    top: 0;
    width: 100%;
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.5);
    background-color: white;
    transition: all 0.3s;
    animation: mymove 0.3s ease-in;

    @keyframes mymove {
        from {
            top: -20px;
        }
        to {
            top: 0px;
        }
    }

    .titulo{
        h1{
            width: max-content;
        }
    }
}

.header {
    padding-top: 10rem;
    padding-bottom: 11rem;
    text-align: center;
    background-image: url(https://cdn.getyourguide.com/img/location/5d147ae8c6705.jpeg/88.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}
