.modal-contenedor {
    display: none;
}

.modal-content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    font-family: $fuente-body !important;

    border-radius: 1px;
    background-color: white;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.61);

    .modal-header {
        .modal-logo {
            border-radius: 100%;
            width: 6.25em;
            height: 6.25em;
        }
    }
    .modal-body {
        background-color: none;
        color: black;
        font-family: $fuente-body;
        font-size: 0.9;
        padding: 0;

        .productoEnCarrito {
            border-top: 5px;
            display: flex;
            justify-content: space-evenly;
            padding: 1rem;
            border-bottom: 1px solid #000000;
            

            p {
                width: 8rem;
            }
        }

        .footer-modal{
            border-bottom: 1px solid #000000;
            border-top: transparent;

            .precioProducto {
                font-family: $fuente-titulos;
                margin-top: 1em;
                margin-left: 0.6em;
                
            }
        }
        
    }
}
.btn-primario {
    background-color: #000000;
    color: #ffff;
    font-family: $fuente-marca;
    font-size: 1em;
}

.boton-eliminar {
    border: 1px solid #ff9671;
    border-radius: 5px;
    background: rgb(255, 255, 255);
    color: #ff9671;
    font-family: $fuente-titulos;
    padding-right: 12px;
    padding-left: 10px;
    font-size: 1em;
}
.boton-eliminar:hover {
    background-color: #ff9671;
    color: #000000;
    border: 1px solid #ff9671;
}
