.modal-contenedor{
    display: none;
}

.modal-content {
    font-family:$fuente-body;
    font-weight: bold;
    


    .modal-header{

        .modal-title{
        font-family: $fuente-millas;
        font-size: 2rem;
        color: black;
    }

    .modal-footer{
        font-weight: bold;
    }
}
}

.boton-eliminar {
    background-color: transparent;
    border-color: transparent;
    align-items: center;
    font-family: $fuente-body;
    font-size: 1rem;
}

.boton-eliminar:hover {
    background-color: transparent;
    border-color: #a184a4;
    border-radius: 1rem;
}

.boton-eliminar:focus {
    color: black;
    box-shadow: 0 0 0 0.25rem white !important;
}