html {
  font-family: "Lato", sans-serif;
}

body {
  margin: 0;
}

.page-section {
  padding: 6rem 0;
}

.page-section h2.section-heading {
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

.page-section h3.section-subheading {
  font-size: 1rem;
  font-weight: 400;
  font-family: "Lato", sans-serif;
  margin-bottom: 4rem;
}

.btn-primary {
  color: white;
  background-color: black;
  border-color: black;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  border-radius: 2px;
}

.btn-primary:hover {
  color: white;
  background-color: black;
  border-color: #bfa1c2;
}

.btn-primary:focus {
  -webkit-box-shadow: 0 0 0 0.25rem #bfa1c2;
          box-shadow: 0 0 0 0.25rem #bfa1c2;
  border-radius: 1px;
}

#mainNav {
  background-color: black;
}

#mainNav .nav-link {
  color: white;
  font-family: "Lato", sans-serif;
}

#mainNav .nav-link:hover {
  color: #a184a4 !important;
}

.header {
  padding-top: 10.5rem;
  padding-bottom: 6rem;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d1e4ff), color-stop(#c2c9ec), color-stop(#b9add5), color-stop(#b390b9), to(#ad7498));
  background-image: linear-gradient(to bottom, #d1e4ff, #c2c9ec, #b9add5, #b390b9, #ad7498);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}

.header .header__titulo {
  font-family: "Cookie", cursive;
  letter-spacing: 2px;
  font-size: 3.25rem;
  color: black;
}

.destino-centertexto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 8rem;
  padding-bottom: 4rem;
}

.destino-centertexto .section-subheading {
  font-size: 1rem;
  font-weight: 400;
  font-family: "Lato", sans-serif;
  margin-bottom: 2rem;
}

#contenedor-productos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 4rem;
}

#contenedor-productos .card {
  margin: 1rem;
  border-radius: 1px;
}

#contenedor-productos .card .card-body {
  font-family: "Lato", sans-serif;
}

#contenedor-productos #btnAgregar {
  background-color: #a184a4 !important;
}

.modal-contenedor {
  display: none;
}

.modal-content {
  font-family: "Lato", sans-serif;
  font-weight: bold;
}

.modal-content .modal-header .modal-title {
  font-family: "Cookie", cursive;
  font-size: 2rem;
  color: black;
}

.modal-content .modal-header .modal-footer {
  font-weight: bold;
}

.boton-eliminar {
  background-color: transparent;
  border-color: transparent;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Lato", sans-serif;
  font-size: 1rem;
}

.boton-eliminar:hover {
  background-color: transparent;
  border-color: #a184a4;
  border-radius: 1rem;
}

.boton-eliminar:focus {
  color: black;
  -webkit-box-shadow: 0 0 0 0.25rem white !important;
          box-shadow: 0 0 0 0.25rem white !important;
}

.section__newsletter {
  padding-top: 2rem;
  padding-bottom: 6rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d1e4ff), color-stop(#c2c9ec), color-stop(#b9add5), color-stop(#b390b9), to(#ad7498));
  background-image: linear-gradient(to bottom, #d1e4ff, #c2c9ec, #b9add5, #b390b9, #ad7498);
}

.section__newsletter h2.section-heading {
  color: black;
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

.section__newsletter h3.section-subheading {
  color: black;
  font-size: 1rem;
  font-weight: 400;
  font-family: "Lato", sans-serif;
  margin-bottom: 4rem;
}

#newsLetter {
  font-family: "Lato", sans-serif;
  color: black;
}

.btn-news {
  color: black;
  background-color: transparent;
  border-color: transparent;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  border-radius: 2px;
}

.btn-news:hover {
  color: black;
  background-color: transparent;
  border-color: #bfa1c2 !important;
}

.btn-news:focus {
  color: black;
  -webkit-box-shadow: 0 0 0 0.25rem white !important;
          box-shadow: 0 0 0 0.25rem white !important;
  border-radius: 1px;
}

section#contact {
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
}

section#contact form#contactForm .form-group input,
section#contact form#contactForm .form-group textarea {
  padding: 1.25rem;
}

section#contact form#contactForm .form-group input.form-control {
  height: auto;
}

section#contact form#contactForm .form-group-textarea {
  height: 100%;
}

section#contact form#contactForm .form-group-textarea textarea {
  height: 100%;
  min-height: 10rem;
}

section#contact form#contactForm p.help-block {
  margin: 0;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  background-color: black;
  text-align: center;
  font-size: 1rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
/*# sourceMappingURL=style.css.map */