/*Fuentes*/
/*Estilos generales*/
body {
  margin: 0%;
  padding: 0%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bebas Neue", cursive;
}

.page-section {
  padding-top: 5em;
  padding-bottom: 2em;
}

.header {
  margin: 0;
}

.header .navbar {
  height: 6em;
}

.header .navbar .navbar-brand img {
  max-width: 170px;
  max-height: 127px;
  border-radius: 100%;
  position: relative;
  z-index: 100;
  top: 0.9em;
}

.header .navbar .collapse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header .navbar .collapse .navbar-nav {
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
}

.header .navbar .collapse .nav-item {
  padding-right: 2em;
}

.header .navbar #boton-carrito {
  background-color: #ff9671;
  padding: 0.5em;
  border-radius: 100%;
  border: transparent;
}

.header .navbar #boton-carrito a {
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
}

#destinos #contenedor-productos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#destinos #contenedor-productos .card {
  margin: 1.5em;
}

#destinos #contenedor-productos .card .card-img-top {
  height: 13em;
  width: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#destinos #contenedor-productos .card .card-img-top:hover {
  opacity: 0.5;
  -webkit-transform: translateY(-1%);
          transform: translateY(-1%);
  /*100%*/
}

#destinos #contenedor-productos .card .card-body {
  padding: 0.5em;
}

#destinos #contenedor-productos .card .card-body h3 {
  text-align: center;
  font-family: "Antic Didone", serif;
  font-size: 1.5em;
  border-bottom: solid 1px rgba(0, 0, 0, 0.5);
  padding: 0.3em 0.5em;
}

#destinos #contenedor-productos .card .card-body .texto-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#destinos #contenedor-productos .card .card-body .texto-card p {
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  font-weight: bold;
  color: #000000;
  padding-right: 1em;
  padding-left: 1em;
}

#destinos #contenedor-productos .card .contenedorBoton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#destinos #contenedor-productos .card .contenedorBoton .botonComprar {
  width: 100%;
  height: 45px;
  font-size: 1.2em;
  cursor: pointer;
  border: none;
  outline: none;
  background: transparent;
  color: #000000;
  font-family: "Bebas Neue", cursive;
  position: relative;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 1;
}

#destinos #contenedor-productos .card .contenedorBoton .botonComprar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 100%;
  background-color: #ff9671;
  z-index: -1;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#destinos #contenedor-productos .card .contenedorBoton .botonComprar:hover::before {
  width: 100%;
}

#destinos #contenedor-productos .card .contenedorBoton .botonComprar:hover {
  color: black;
}

#destinos #contenedor-productos .card .contenedorBoton .botonComprar:active:before {
  background: #ff9671;
}

.modal-contenedor {
  display: none;
}

.modal-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  font-family: "Montserrat", sans-serif !important;
  border-radius: 1px;
  background-color: white;
  -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.61);
          box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.61);
}

.modal-content .modal-header .modal-logo {
  border-radius: 100%;
  width: 6.25em;
  height: 6.25em;
}

.modal-content .modal-body {
  background-color: none;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 0.9;
  padding: 0;
}

.modal-content .modal-body .productoEnCarrito {
  border-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 1rem;
  border-bottom: 1px solid #000000;
}

.modal-content .modal-body .productoEnCarrito p {
  width: 8rem;
}

.modal-content .modal-body .footer-modal {
  border-bottom: 1px solid #000000;
  border-top: transparent;
}

.modal-content .modal-body .footer-modal .precioProducto {
  font-family: "Bebas Neue", cursive;
  margin-top: 1em;
  margin-left: 0.6em;
}

.btn-primario {
  background-color: #000000;
  color: #ffff;
  font-family: "Antic Didone", serif;
  font-size: 1em;
}

.boton-eliminar {
  border: 1px solid #ff9671;
  border-radius: 5px;
  background: white;
  color: #ff9671;
  font-family: "Bebas Neue", cursive;
  padding-right: 12px;
  padding-left: 10px;
  font-size: 1em;
}

.boton-eliminar:hover {
  background-color: #ff9671;
  color: #000000;
  border: 1px solid #ff9671;
}

#news {
  margin-top: 8em;
  margin-bottom: 8em;
}

#news .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#news .container .text-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#news .container .text-center .titulo-seccion {
  font-size: 3em !important;
}

#news .container .text-center .subtitulo {
  font-family: "Antic Didone", serif;
  font-size: 1.2em;
  padding-top: 1em;
  padding-bottom: 1em;
}

#news #newsLetter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 25em;
  font-family: "Montserrat", sans-serif;
}

#news #newsLetter input {
  padding: 2px;
  margin-bottom: 1em;
  border: transparent;
  border-bottom: 1px solid #000000;
}

#news #newsLetter .btn-news {
  background-color: #000000;
  color: #ffff;
  font-family: "Antic Didone", serif;
  font-size: 1.3em;
}

#contacto {
  margin-top: 6em;
  margin-bottom: 6em;
}

#contacto .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contacto .container .text-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contacto .container .text-center .titulo-seccion {
  background-color: #ff9671;
  padding: 0.9em;
  font-size: 3em !important;
}

#contacto .container .text-center .subtitulo {
  font-family: "Antic Didone", serif;
  font-size: 1.3em;
  padding-top: 1em;
  padding-bottom: 1em;
}

#contacto .container #contactForm {
  width: 70%;
  font-family: "Montserrat", sans-serif;
}

#contacto .container #contactForm .form-group1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#contacto .container #contactForm .form-group1 .form-control {
  margin: 2px;
  border: transparent;
  border-bottom: 1px solid #000000;
  border-radius: 0%;
}

#contacto .container #contactForm .form-group2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#contacto .container #contactForm .form-group2 .form-control {
  margin: 2px;
  border: transparent;
  border-bottom: 1px solid #000000;
  border-radius: 0%;
}

#contacto .container #contactForm .form-group3 .form-control {
  width: 100%;
  margin: 2px;
  border: transparent;
  border-bottom: 1px solid #000000;
  border-radius: 0%;
  margin-bottom: 1em;
}

#contacto .text-center #submitButton {
  background-color: #000000;
  color: #ffff;
  font-family: "Antic Didone", serif;
  font-size: 1.3em;
  width: 100%;
}

.footer {
  color: #ffff;
  background-color: black;
  font-size: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .contenedor__redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .contenedor__redes .footer__redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-left: 1em;
}

.footer .contenedor__redes .footer__contacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.footer .contenedor__redes .footer__contacto .footer-logo img {
  max-width: 150px;
  max-height: 110px;
  border-radius: 100%;
  padding: 0.5em;
}

#acercaDe .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#acercaDe .container .container-titulo {
  background: #ff9671;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 19em;
  padding: 4em 1em 1em;
}

#acercaDe .container .container-titulo .titulo-seccion {
  font-size: 3.5em;
  width: 4em;
}

#acercaDe .parrafo-acercaDe {
  padding: 4em;
  text-align: left;
}

#acercaDe .parrafo-acercaDe h3 {
  font-family: "Antic Didone", serif;
}

#acercaDe .parrafo-acercaDe p {
  font-size: 1em;
  font-family: "Montserrat", sans-serif;
}

.swal-text {
  font-family: "Montserrat", sans-serif;
}

.swal-button {
  background-color: #ff9671;
  font-family: "Montserrat", sans-serif !important;
  border: 1px solid #ff9671;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
}

.swal-button:not([disabled]):hover {
  background-color: rgba(0, 0, 0, 0.3);
}
/*# sourceMappingURL=style.css.map */